<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</head>

<body>

<form method="post" th:action="@{/compra_venta/new/submit}" th:object="${compra_ventaForm}">
    <input type="number" placeholder="Id" th:field="*{id}" />
    <input type="number" placeholder="Compañía" th:field="*{compannia}" />
    <input type="text" placeholder="Sistema" th:field="*{sistema}" />
    <input type="text" placeholder="Artículo" th:field="*{articulo}" />
    <input type="text" placeholder="Título" th:field="*{titulo}" />
    <input type="text" placeholder="Descripción" th:field="*{descipcion}" />
    <input type="text" placeholder="Estado" th:field="*{estado}" />
    <input type="text" placeholder="Precio" th:field="*{precio}" />
<button type="submit" class="btn btn-default">Enviar</button>
</form>
</body>

</html>







