<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<div th:replace="index.html :: scripts"></div>

<head>
	<title>DatabaseGames</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"-->

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
		integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
		integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

	<link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">

	<!-- create navigation bar ( header) -->
	<nav th:replace="index.html :: nav"></nav>
	<br>
	<br>

	<div class="container">
		<br>
		Bienvenido <span sec:authentication="principal.username"> User </span>
		<br>

	</div>

</head>

<body>


	<main layout:fragment="contenido">
		<div class="col-12">
			<br>
			<h2>Artículos a la venta</h2>
			<br>
			<div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
				th:text="${mensaje}" class="alert">
			</div>
			<a class="btn btn-success mb-2" th:href="@{/compra_venta/new}">Añadir artículo</a>
			<div class="table-responsive">
				<br>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>ID</th>
							<th>Foto</th>
							<th>Compañía</th>
							<th>Sistema</th>
							<th>Artículo</th>
							<th>Título</th>
							<th>Descripcion</th>
							<th>Estado</th>
							<th>Precio</th>
							<th>Acciones</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="compra_venta : ${listaCompra_Venta}">
							<td th:text="${compra_venta.id}"></td>
							<td><img src=""
									th:src="@{${compra_venta.image} ?: 'https://api.adorable.io/avatars/64/{titulo}.png'(title=${compra_venta.titulo})}"
									width="64px" />
							</td>
							<td th:text="${compra_venta.compannia}"></td>
							<td th:text="${compra_venta.sistema}"></td>
							<td th:text="${compra_venta.articulo}"></td>
							<td th:text="${compra_venta.titulo}"></td>
							<td th:text="${compra_venta.descripcion}"></td>
							<td th:text="${compra_venta.estado}"></td>
							<td th:text="${compra_venta.precio}"></td>

							<td>
								<a class="btn btn-warning"
									th:href="@{/compra_venta/edit/} + ${compra_venta.id}">Editar <i
										class="fa fa-edit"></i></a>
						
								<a class="btn btn-primary" th:href="@{/compra_venta/delete/__${compra_venta.id}__}"
									role="button">Borrar</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<form th:action="@{/auth/logout}" method="POST" id="logoutForm"></form>

	</main>

</body>

</html>