<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<div th:replace="index.html :: scripts"></div>

<head>
	<title>DatabaseGames</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"-->

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
		integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
		integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

	<link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">

	<!-- create navigation bar ( header) -->
	<nav th:replace="index.html :: nav"></nav>
	<br>
	<br>

	<div class="container">
		<br>
		Bienvenido <span sec:authentication="principal.username"> User </span>
		<br>

	</div>

</head>

<body>


	<main layout:fragment="contenido">
		<div class="col-12">
			<br>
			<h2>Títulos Neo Geo Pocket</h2>
			<br>
			<div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
				th:text="${mensaje}" class="alert">
			</div>
			<a class="btn btn-success mb-2" th:href="@{/neo_geo_pocket/new}">Añadir título de Neo Geo Pocket</a>
			<div class="table-responsive">
				<br>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>ID</th>
							<th>Imagen</th>
							<th>Título</th>
							<th>Desarrollador</th>
							<th>Editor</th>
							<th>Compatible con versiones anteriores</th>
							<th>Lanzamiento en Japón</th>
							<th>Lanzamiento en N. América</th>
							<th>Lanzamiento en región Pal</th>
							<th>Acciones</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="neo_geo_pocket : ${listaNeo_Geo_Pocket}">
							<td th:text="${neo_geo_pocket.id}"></td>
							<td><img src=""
									th:src="@{${neo_geo_pocket.image} ?: 'https://api.adorable.io/avatars/64/{title}.png'(title=${neo_geo_pocket.title})}"
									width="64px" />
							</td>
							<td th:text="${neo_geo_pocket.title}"></td>
							<td th:text="${neo_geo_pocket.developer}"></td>
							<td th:text="${neo_geo_pocket.publisher}"></td>
							<td th:text="${neo_geo_pocket.backwards_compatible}"></td>
							<td th:text="${neo_geo_pocket.japan_release_date}"></td>
							<td th:text="${neo_geo_pocket.north_america_release_date}"></td>
							<td th:text="${neo_geo_pocket.pal_release_date}"></td>

							<td>
								<a class="btn btn-warning"
									th:href="@{/neo_geo_pocket/edit/} + ${neo_geo_pocket.id}">Editar <i
										class="fa fa-edit"></i></a>
						
								<a class="btn btn-primary" th:href="@{/neo_geo_pocket/delete/__${neo_geo_pocket.id}__}"
									role="button">Borrar</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<form th:action="@{/auth/logout}" method="POST" id="logoutForm"></form>

	</main>

</body>

</html>